# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Clean code 1986 Portfolio"

DB_PROVIDER="turso"
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

LINE_CHANNEL_ACCESS_TOKEN=
LINE_ADMIN_USER_ID=
LINE_CHANNEL_SECRET=

AUTH_SECRET=
